.login-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  max-width: 400px;
  width: 90%;
}
.login-container img {
  display: block;
  margin: 0 auto 20px;
  width: 100px;
}
.login-container p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}
.login-form {
  background-color: rgb(85, 0, 255);

  padding: 40px 20px;
  border-radius: 22px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-form input,
.login-form button {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.login-input {
  position: relative;
}
.login-form button {
  cursor: pointer;
  font-weight: 500;
}

.login-input input {
  display: block;
}
.login-input label {
  position: absolute;
  top: 13px;
  left: 10px;
  transition: 0.4s ease;
  pointer-events: none;
  color: black;
}

.login-input input:focus + label,
.login-input input:not(:placeholder-shown) + label {
  top: -10px;
  left: 15px;
  font-size: 13px;
  background: rgb(85, 0, 255);
  color: white;
  padding: 0 5px;
}
